<section class="container" *ngIf="!isLoading, else loading">
  <header class="header d-flex">
    <div class="search-thinks">
      <input
        type="search"
        class="filter"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filter"
      >

      <img (click)="teste()" src="../../../../assets/images/lupa.png" alt="Lupa azul">
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criar-pensamentos" class="button">Adicionar pensamento</button>
  </header>
  <div class="showcase" *ngIf="listThinksByPage.length > 0, else withoutThinks">
    <div *ngFor="let think of listThinksByPage">
      <app-think [think]="think"></app-think>
    </div>
  </div>
</section>

<app-button-loading-more
  [hasMoreThinks]="hasMoreThinks"
  (click)="loadMoreThinks()"
>
</app-button-loading-more>

<ng-template #withoutThinks>
  <div class="ff-inter without-thinks">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
