.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader {
  border: 8px solid #f3f3f3; /* borda cinza clara */
  border-top: 8px solid #1a5396; /* azul no topo */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
