<section class="container" *ngIf="!isLoading, else loading">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criar-pensamentos" class="button">Adicionar pensamento</button>
  </header>
  <div class="showcase" *ngIf="listThinks.length > 0, else withoutThinks">
    <div *ngFor="let think of listThinks">
      <app-think [think]="think"></app-think>
    </div>
  </div>
</section>
<ng-template #withoutThinks>
  <div class="ff-inter without-thinks">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
